.App {
  min-height: 100vh;
  background: var(--secondary);
}
.title {
  font-size: 3.5rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-cont {
  margin: 30px 20px;
}
#search {
  font-size: 1.5rem;
  padding: 0px 10px;
  width: 600px;
  height: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid var(--primary);
  outline: none;
  text-transform: capitalize;
  background: transparent;
}
#submit {
  font-size: 1.5rem;
  padding: 0px 10px;
  height: 50px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--primary);
  cursor: pointer;
  background: var(--primary);
}
#submit:hover {
  background: #52816e;
}
.recipe-cont {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(310px));
  gap: 30px;
  justify-content: center;
}
/* /* alert____________________ */
.alert {
  font-size: 1.5rem;
  color: var(--text);
}
