.App {
  min-height: 100vh;
  background: var(--secondary);
  position: relative;
}
.title {
  font-size: 3.5rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-cont {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  font-size: 1.5rem;
  padding: 0px 10px;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid var(--primary);
  outline: none;
  text-transform: capitalize;
  background: transparent;
  font-family: "Comfortaa", cursive;
}
.filter-cont {
  position: relative;
  height: 50px;
  width: 35px;
  border: 1px solid var(--primary);
  border-left: none;
  border-right: none;
  /* color: var(--primary); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-cont #filter {
  position: absolute;
  right: -1px;
  top: 49px;
  display: none;
  font-size: 1.1rem;
  font-family: monospace;
}
.filter-cont:hover #filter {
  display: block;
}
#submit {
  font-size: 1.5rem;
  padding: 0px 10px;
  height: 50px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  cursor: pointer;
  background: var(--primary);
  color: var(--secondary);
}
#submit:active {
  background: #2f7257;
}
.recipe-cont {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(310px));
  gap: 30px;
  justify-content: space-evenly;
  justify-items: center;
}
/* /* alert____________________ */
.alert {
  font-size: 1.5rem;
  color: var(--text);
}
/* pagination__________________________ */
.pagination-cont {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.pagination-cont button {
  padding: 7px 17px;
  margin: 15px;
  font-size: 1.2rem;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}
.pagination-cont button:disabled {
  opacity: 0.5;
}
.pagination-cont button span {
  font-size: 1.5rem;
}
.pagination-cont button:active {
  background: #2f7257;
}
.scroll-top {
  position: absolute;
  right: 20px;
  bottom: 25px;
  padding: 0px 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px outset;
  font-size: 40px;
}
